@import "../partials/variables";

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: $color-secondary;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  color: darken($color-tertiary, 20%);
}
