@import "../partials/variables";

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: $color-secondary;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  color: $color-secondary;
  padding: 20px 0;
  margin: 0;
}

h5 {
  font-size: 1.1rem;
  color: darken($color-tertiary, 20%);
  margin: 0;
}

p {
  color: darken($color-tertiary, 40%);
  margin: 0;
}
