@import "../partials/variables";

.container_custom {
  margin: 0 auto;
  width: 58%;
}

.section_custom {
  padding: 65px 0;
  text-align: center;
}

.btn_custom {
  color: $color-white;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 5px 10px 20px;
  border: 2px solid $color-white;
  font-weight: 600;
  font-size: 0.9rem;
}
