@import "../partials/variables";

.container_custom {
  max-width: 1050px;
}

.section_custom {
  padding: 65px 0;
}

.header_divider {
  margin-bottom: 65px;
}

.bg_grey {
  background-color: lighten($color-tertiary, 5%);
}

.btn_custom {
  color: $color-white;
  text-transform: uppercase;
  padding: 10px 5px 10px 20px;
  border: 2px solid $color-white;
  font-weight: 600;
  font-size: 0.9rem;

  &.primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      color: $color-primary;
      background-color: $color-white;

      img {
        filter: brightness(0) saturate(100%) invert(45%) sepia(42%)
          saturate(4097%) hue-rotate(359deg) brightness(102%) contrast(102%);
      }
    }
  }

  &.secondary {
    background-color: transparent;

    &:hover {
      color: $color-secondary;
      background-color: $color-white;

      img {
        filter: brightness(0) saturate(100%) invert(31%) sepia(12%)
          saturate(2989%) hue-rotate(206deg) brightness(97%) contrast(87%);
      }
    }
  }
}

// Margin utilities
.m {
  &b {
    &_15 {
      margin-bottom: 15px;
    }
    &_20 {
      margin-bottom: 20px;
    }
    &_30 {
      margin-bottom: 30px;
    }
    &_40 {
      margin-bottom: 40px;
    }
    &_50 {
      margin-bottom: 50px;
    }
    &_60 {
      margin-bottom: 60px;
    }
  }

  &t {
    &_15 {
      margin-top: 15px;
    }
    &_20 {
      margin-top: 20px;
    }
    &_30 {
      margin-top: 30px;
    }
    &_40 {
      margin-top: 40px;
    }
    &_50 {
      margin-top: 50px;
    }
    &_60 {
      margin-top: 60px;
    }
  }
}
